/* Default Styles */
body {
    font-family: "Public sans";
    font-size: 1.125rem;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 a,
h4,
h5 {
    color: hsl(233, 26%, 24%);
}

p,
small {
    color: hsl(233, 8%, 62%);
}

a {
    text-decoration: none;
}

.topnav,
.next-gen,
.why-easybank,
.latest,
.footer {
    padding: 5% 7%;
}


/* Top Nav Section */
.topnav {
    background-color: hsl(0, 0%, 100%);
    padding: 0 8%;
    z-index: 1;
    position: fixed;
}

.topnav .harmburger-menu {
    display: none;
}

.topnav .row .col-md-3 {
    padding: 1% 0;
}

.topnav .row .col-md-6 {
    text-align: center;
}

.topnav .row .col-md-6 ul {
    display: block;
    padding: 0;
    width: 100%;
    margin: 2.2% 0;
}

.topnav .row .col-md-6 ul li {
    display: inline;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 1.5vw;
}

.topnav .row .col-md-6 ul li a {
    display: inline-block;
    margin: 0 2%;
    padding: 1% 0.5% 1%;
    color: hsl(233, 8%, 62%);
}
.topnav .row .col-md-6 ul li:hover {
    padding-bottom: 1.3vw;
    border-width: 5px;
    color: hsl(233, 26%, 24%);
    border-style: solid;
    border-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%))0 0 100%;
}

@media only screen and (max-width:1084px){
    .topnav .row .col-md-6 ul li:hover{
        padding-bottom: 2.5vw;
    }
}


@media only screen and (max-width:805px){
    .topnav .row .col-md-3:nth-child(3){
        display: none;
    }
    .topnav .harmburger-menu {
        display: inline-block;
        position: absolute;
        top: 15%;
        right: 8%;
        cursor: pointer;
    }
    .topnav .row .col-md-6 {
        display: flex;
        justify-content: center;
    }
    
    .topnav .row .col-md-6 ul {
        position: absolute;
        top: 100%;
        display: none;
        padding: 0;
        width: 85%;
        background-color: hsl(0, 0%, 100%);
        border-radius: 7px;
    }
    
    .topnav .row .col-md-6 ul li {
        list-style: none;
        display: list-item;
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 3vw;
    }
    
    .topnav .row .col-md-6 ul li:hover{
        padding-bottom: 0;
        border: none;
    }
    
    .topnav .row .col-md-6 ul li a{
        color: hsl(233, 26%, 24%);
    }
    .topnav .row .col-md-6 ul li a:hover{
        font-weight: bold;
    }
    
}

/* Button */
.topnav .row .col-md-3 .btn,
.next-gen div:nth-child(1) .btn,
.footer .col-md-5 .btn {
    border-radius: 25px;
    padding: 8px 30px;
    font-weight: bold;
    color: hsl(0, 0%, 98%);
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.topnav .row .col-md-3 .btn:hover,
.next-gen div:nth-child(1) .btn:hover,
.footer .col-md-5 .btn:hover {
    opacity: 0.8;
    border: none;
}



/* Overlay */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: linear-gradient(to bottom, hsl(233, 26%, 24%) 50%, hsl(233, 8%, 62%), hsl(0, 0%, 100%));
}

.show-overlay {
    display: block;
}

/* stop scrolling */
.stop-scroll{
    overflow: hidden;
}


/* Next Gen Section */
.next-gen .row .col-md-5 div{
    margin: 12vw 0 5vw;
}
.next-gen .row .col-md-5 div h1{
    font-size: 4vw;
}
.next-gen .row .col-md-5 div p{
    font-size: 1.6vw;
    margin: 2vw 0;
}
.next-gen .row .col-md-7{
    position: relative;
}
div.mockup {
    position: absolute;
    margin: 0;
    padding: 0;
}

div.mockup img {
    width: 180%;
    height: auto;
    position: relative;
    top: -18.5vw;
    left: -1vw;
}

div.mockup div.phone {
    position: absolute;
    top: 15%;
    left: 23%;
    width: 60%;
}
@media only screen and (max-width:768px){
    .next-gen{
        text-align: center;
        background-image: url("images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-position-x: 0;
        background-position-y: 0;
        /* background-size: contain; */
        background-position: center -8vw;
        background-size: 100%;
    }
    .next-gen .row {
        display: flex;
        justify-content: center;
    
    }
    .next-gen .row .col-md-5, .next-gen .row .col-md-7{
        width: 80%;
    }
    .next-gen .row .col-md-5 div{
        margin: 0;
        padding-bottom: 10vw;
    }
    .next-gen .row .col-md-5 div h1{
        font-size: 8vw;
        margin-top: 80vw;
    }
    .next-gen .row .col-md-5 div p{
        font-size: 3vw;
        margin: 2vw 0;
    }
    
    .mockup>img:nth-child(1) {
        display: none;
    }

    .next-gen .row .col-md-7{
        position: static;
        margin: 0; padding: 0;
    }
    .mockup {
        position: static;
        margin: 0;
        padding: 0;
        justify-content: center;
        width: 100%;
        
    }
    
    div.mockup div.phone {
        position: relative;
        display: inline-block;
        width: 52%;
        top: -12vw;
        left: -32vw;
    }
    div.mockup div.phone img{
        display: block;
    }
    
}



/* why easybank section */
.why-easybank {
    background-color: hsl(220, 16%, 96%);
    padding: 7%;
}

.why-easybank div h2 {
    font-size: 2.8vw;
}

.why-easybank div p.why-text{
    width: 60%;
}
.why-easybank div>p {
    margin-top: 4%;
    font-size: 1.38vw;
}

.why-easybank div .row {
    margin-top: 40px;
}

.why-easybank div .row .col-md-3 h3 {
    font-size: 1.8vw;
    margin: 10% 0;
}

.why-easybank div .row .col-md-3 p {
    font-size: 1.3vw;

}

@media only screen and (max-width:768px) {
    .why-easybank {
        background-color: hsl(220, 16%, 96%);
        padding: 7%;
        display: flex;
        justify-content: center;
    }

    .why-easybank>div {
        width: 80%;
        text-align: center;
        padding: 7% 7%;
    }

    .why-easybank div h2 {
        font-size: 5.6vw;
    }
    
    .why-easybank div p.why-text{
        width: 100%;
    }

    .why-easybank div>p {
        width: 100%;
        margin-top: 4%;
        font-size: 2.76vw;
    }

    .why-easybank div .row {
        margin-top: 40px;
    }

    .why-easybank div .row .col-md-3 {
        margin: 5% 0;
    }

    .why-easybank div .row .col-md-3 h3 {
        font-size: 3.6vw;
        margin: 4% 0;
    }

    .why-easybank div .row .col-md-3 p {
        font-size: 2.6vw;
    }
}




/* latest section */
.latest {
    padding: 7% 7% 7%;
}

.latest h2 {
    margin-bottom: 4.5%;
    font-size: 2.8vw;
}

.latest .row .col-md-3 div img {
    display: block;
    width: 100%;
    height: 15vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.latest .row .col-md-3 div small {
    font-size: 1.2vw;
}

.latest .row .col-md-3 div h4 {
    font-size: 1.5vw;
    margin: 3% 0 5% 0;
}

.latest .row .col-md-3 div p {
    font-size: 1.25vw;
}

@media only screen and (max-width:768px) {
    .latest .row {
        display: flex;
        justify-content: center;
    }

    .latest .row .col-md-3 {
        width: 80%;
        margin-bottom: 12.5%;
    }

    .latest h2 {
        font-size: 5.6vw;
        text-align: center;
    }

    .latest .row .col-md-3 div img {
        display: block;
        width: 100%;
        height: 40vw;
    }

    .latest .row .col-md-3 div:nth-child(2) {
        padding: 5% 7%;
    }

    .latest .row .col-md-3 div small {
        font-size: 2.2vw;
    }

    .latest .row .col-md-3 div h4 {
        font-size: 3.2vw;
        margin: 2% 0 4% 0;
    }

    .latest .row .col-md-3 div p {
        font-size: 2.7vw;
    }

}


/* footer sectiion */
.footer {
    padding: 3% 7% 0;
    background-color: hsl(233, 26%, 24%);
}

.footer .col-md-3 div a {
    width: 2vw;
    display: inline-block;
    margin: 5% 2%;
}

.footer .col-md-3 div a svg {
    fill: hsl(0, 0%, 100%);
}

.footer .col-md-3 div a:hover svg {
    fill: hsl(136, 65%, 51%);
}

.footer .col-md-2 ul {
    margin: 0;
    padding: 0;
}

.footer .col-md-2 ul li {
    display: list-item;
    list-style: none;
    margin-bottom: 13px;
    font-size: 1.3vw;
}

.footer .col-md-2 ul li a {
    display: block;
    color: hsl(0, 0%, 98%);
}

.footer .col-md-2 ul li a:hover {
    color: hsl(136, 65%, 51%);
}

.footer .col-md-5 {
    text-align: right;
}

.footer .col-md-5 p {
    margin-top: 2.5vw;
    font-size: 1.28vw;
}

@media only screen and (max-width:768px) {
    .footer .col-md-3 div a {
        margin: 20px 5px 30px;
    }

    .footer {
        text-align: center;
    }

    .footer .col-md-2 ul li {
        font-size: 2.6vw;
    }

    .footer .col-md-5 {
        text-align: center;
    }

    .footer .col-md-5 .btn {
        margin-top: 20px;
    }

    .footer .col-md-5 p {
        margin-top: 20px;
        font-size: 2.58vw;
    }

}
